Package: startkladde
Version: x.x.x
Architecture: amd64
Maintainer: Julian Schick <julian.schick@posteo.de>
Depends: libqt6sql6-mysql, libqt6multimedia6, libqt6serialport6, libqt6core6, libqt6printsupport6, libqt6sql6, libqt6xml6
Description: Starterfassungsprogramm 'Startkladde' der Akaflieg Karlsruhe.
 Qt6-Fork der Akaflieg Berlin.
